<meta charset="UTF-8">
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Studio Idee Materia">
	<meta name="Copyright" content="&copy;2024 Horizon Lenses & Accessories">
	<meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="~/Asset/css/main.css" type="text/css"/>
	<meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
    <link rel="alternate" hreflang="it" href="https://localhost:7034/" />
	<link rel="alternate" hreflang="en" href="index.html" />
	<link rel="alternate" hreflang="x-default" href="https://localhost:7034/" />
    
	<!-- Google Tag Manager for WordPress by gtm4wp.com -->
	<script data-cfasync="false" data-pagespeed-no-defer>
		var gtm4wp_datalayer_name = "dataLayer";
		var dataLayer = dataLayer || [];
	</script>
	<!-- End Google Tag Manager for WordPress by gtm4wp.com -->
	<!-- This site is optimized with the Yoast SEO plugin v20.4 - https://yoast.com/wordpress/plugins/seo/ -->
	<title>Horizon | Lenses & Accessories Factory</title>
	<link rel="canonical" href="index.html" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Horizon | Lenses & Accessories Factory" />
	<meta property="og:description"
		content="We are the Qatar's leading company in the production and sales of finished and semi-finished ophthalmic lenses. Ours is a “vision together” approach, conveying both the completeness of what we offer and an affinity with the needs of our customers. What we offer goes beyond technology, sales or the product itself, because it originates in [&hellip;]" />
    <meta property="og:url" content="https://localhost:7034/" />
	<meta property="og:site_name" content="Horizon" />
	<meta property="article:modified_time" content="2022-01-19T08:22:29+00:00" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:label1" content="Est. reading time" />
	<meta name="twitter:data1" content="1 minute" />
	@* <script type="application/ld+json"
		class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"WebPage","@id":"https://www.ltllenses.it/en/","url":"https://www.ltllenses.it/en/","name":"LTL S.p.A. | Solar ophthalmic lenses contactology services for resellers","isPartOf":{"@id":"https://www.ltllenses.it/en/#website"},"datePublished":"2018-01-17T16:37:36+00:00","dateModified":"2022-01-19T08:22:29+00:00","breadcrumb":{"@id":"https://www.ltllenses.it/en/#breadcrumb"},"inLanguage":"en-US","potentialAction":[{"@type":"ReadAction","target":["https://www.ltllenses.it/en/"]}]},{"@type":"BreadcrumbList","@id":"https://www.ltllenses.it/en/#breadcrumb","itemListElement":[{"@type":"ListItem","position":1,"name":"Home"}]},{"@type":"WebSite","@id":"https://www.ltllenses.it/en/#website","url":"https://www.ltllenses.it/en/","name":"LTL S.p.A","description":"","potentialAction":[{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https://www.ltllenses.it/en/?s={search_term_string}"},"query-input":"required name=search_term_string"}],"inLanguage":"en-US"}]}</script>
	<meta name="google-site-verification" content="qICHfAhWHCmExWCw9_8bjssaEJIMfViScqWADe9vYmI" />
	<!-- / Yoast SEO plugin. -->
 *@

	<link rel='stylesheet' id='wp-block-library-css' href='~/Asset/css/dist/block-library/style.min.css'
		type='text/css' media='all' />
	<link rel='stylesheet' id='classic-theme-styles-css' href='~/Asset/css/classic-themes.min.css'
		type='text/css' media='all' />
@* 	<style id='global-styles-inline-css' type='text/css'>
	
	</style> *@
	<link rel='stylesheet' id='wpml-blocks-css' href='~/Asset/plugins/sitepress-multilingual-cms/dist/css/blocks/styles.css'
		type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='~/Asset/plugins/contact-form-7/includes/css/styles.css'
		type='text/css' media='all' />
	<link rel='stylesheet' id='wpcf7-redirect-script-frontend-css'
	  href='~/Asset/plugins/wpcf7-redirect/build/css/wpcf7-redirect-frontend.min.css' type='text/css' media='all' />
@* 	<link rel="https://api.w.org/" href="wp-json/index.html" />
	<link rel="alternate" type="application/json" href="wp-json/wp/v2/pages/4321.json" />
	<link rel="alternate" type="application/json+oembed"
		href="wp-json/oembed/1.0/embedfd1f.json?url=https%3A%2F%2Fwww.ltllenses.it%2Fen%2F" />
	<link rel="alternate" type="text/xml+oembed"
		href="wp-json/oembed/1.0/embedb9e0?url=https%3A%2F%2Fwww.ltllenses.it%2Fen%2F&amp;format=xml" /> *@

	<!-- Google Tag Manager for WordPress by gtm4wp.com -->
	<!-- GTM Container placement set to footer -->

<script type='text/javascript' src='~/Asset/js/jquery-3.1.1.min.js' id='jquery-js'></script>

	<script data-cfasync="false" data-pagespeed-no-defer>
		var dataLayer_content = { "visitorLoginState": "logged-out", "visitorEmail": "", "visitorEmailHash": "", "pageTitle": "LTL S.p.A. | Solar ophthalmic lenses contactology services for resellers", "pagePostType": "frontpage", "pagePostType2": "single-page", "pagePostAuthor": "ltl2019_admin" };
		dataLayer.push(dataLayer_content);
	</script>
	<script data-cfasync="false">
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'//www.googletagmanager.com/gtm.' + 'js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-M4QN37X');
	</script>
	<!-- End Google Tag Manager -->
	<!-- End Google Tag Manager for WordPress by gtm4wp.com -->
<link rel="icon" href="~/Asset/images/faviconicon.png" sizes="32x32" />
<link rel="icon" href="~/Asset/images/faviconicon.png" sizes="192x192" />
<link rel="apple-touch-icon" href="~/Asset/images/faviconicon.png" />
	<meta name="msapplication-TileImage"
		content="https://www.ltllenses.it/wp-content/uploads/2018/01/cropped-ltl-favicon-270x270.jpg" />
	<script type="text/javascript">
		window.googleMapKey = "AIzaSyAGPivdZ7alpayblVIfn4jPn5j3vUpnt1o";
	</script>

	<!-- critical css -->

	<!-- preloader css -->
@* 	<style>
	
	</style> *@

	<!-- consent solutions script -->
	<script type="text/javascript" src="~/Asset/js/iubenda_cons.js"></script>
	<script type="text/javascript">
		_iub.cons.init({
			api_key: "BBDU0T3cQn0lkP4DDNFjWbJOMfv3cuH2"
		});
	</script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
